<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - AuthDemo</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <main class="container">
        @RenderBody()
    </main>
</body>
</html>
